body {
  margin: 0;
  overflow: hidden;
  height: 1080px;
  width: 1920px;
}

.colline {
  background: rgb(3, 141, 28); 
  height: 200px;
  width: 100%;
  position: absolute;
  bottom: 0;
}

.terre {
  background-color: maroon;
  width: 100%;
  height: 12px; 
  position: absolute;
  bottom: 200px;
}

.personnage1 {
  background-image: url('personnage_ftn.png');
  background-size: 122px;
  height: 200px;
  width: 120px;
  position: absolute;
  bottom: 200px; 
  animation: marche1 4s linear forwards ;
}

.personnage2 {
  background-image: url('personnage_tire.jpg');
  background-size: 300px 150px;
  height: 150px;
  width: 320px;
  position: absolute;
  bottom: 212px;
  margin-left: 2000px;
  animation: marche2 2s linear forwards;
  animation-delay: 1s;
  
}

.mecchoque {
  background-image: url('choque.jpeg');
  background-size: 300px 200px;
  height: 200px;
  width: 300px;
  position: relative;
  left: 350px;
  top: 300px;
  animation: imgcache 4s linear forwards;
}

.point {
  background-image: url('point.png');
  background-size: 150px 100px;
  height: 100px;
  width: 150px;
  position: relative;
  left: 1010px;
  top: 200px;
  animation: imgcache 3s linear forwards;
}

.ballefusil {
  background-image: url('balle_fusil.png');
  background-size: 45px 8px;
  height: 8px;
  width: 45px;
  position: relative  ;
  left: 1005px;
  top: 406px;
  animation: cacheballe 7s linear forwards;
}

.mur  {
  background-image: url('mur.jpg');
  background-size: 200px 200px;
  height: 200px;
  width: 200px;
  position:relative;
  left: 615px;
  top: 270px;
  animation: mur 9s linear forwards;
}

.grenade {
  background-image: url('grenade.png');
  background-size: 50px 50px;
  height: 50px;
  width: 50px;
  position: relative;
  left: 1200px;
  top: 200px;
  animation: grenade 20s linear forwards;
}

.explosion {
  background-image: url('explosion.gif');
  background-size: 250px 250px;
  height: 230px;
  width: 240px;
  position: relative;
  left: 350px;
  bottom: 40px;
  animation: explosion 18s linear forwards;
}

@keyframes marche1 {
  15% {
    transform: translateX(0); 
  }
  25% {
    transform: translateX(50px) translateY(-30px);
  }
  35% {
    transform: translateX(100px);
  }
  45% {
    transform: translateX(150px) translateY(-30px);
  }
  55% {
    transform: translateX(200px);
  }
  65% {
    transform: translateX(250px) translateY(-30px);
  }
  75% {
    transform: translateX(300px);
  }
  85% {
    transform: translateX(350px) translateY(-30px);
  }
  100% {
    transform: translateX(400px);
  }
}

@keyframes marche2 {
  0% {
    transform: translateX(0px); 
  }
  100% {
    transform: translateX(-1020px); 
  }
}

@keyframes imgcache {
  0% {
    opacity: 0; 
  }
  85% {
    opacity: 0; 
  }
  90% {
    opacity: 1; 
  }
  100%{
    opacity: 0;
  }
}

@keyframes cacheballe {
  0% {
    opacity: 0;
  }
  50%{
    opacity: 0;
  }
  51%{
    opacity: 1;
  }
  80%{
    transform: translateX(0px);
  }
  95%{
    opacity: 1; transform: translateX(-520px);
  }
  100%{
    opacity: 0; transform: translateX(-520px);
  }
}

@keyframes mur {
  0% {
    opacity: 0;
  }
  80%{
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes grenade {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  45% {
    opacity: 1;
  }
  55% {
    transform: translateX(0px) translateY(0px) rotate(0deg);
  }
  65% {
    transform: translateX(-400px) translateY(-300px) rotate(180deg);
  }
  75% {
    transform: translateX(-750px) translateY(-130px) rotate(360deg);
  }
  80% {
    transform: translateX(-750px) translateY(-130px) rotate(360deg); opacity: 1;
  }
  85% {
    transform: translateX(-750px) translateY(-130px) rotate(360deg); opacity: 0;
  }
  100% {
    transform: translateX(-750px) translateY(-130px) rotate(360deg); opacity: 0;
  }
}

@keyframes explosion {
  0% {
    opacity: 0;
  }
  95% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}