body {
  margin: 0;
  overflow: hidden;
}

.colline {
  background: rgb(3, 141, 28); /* Couleur de la colline */
  height: 200px;
  width: 100%;
  position: absolute;
  bottom: 0;
}

.personnage {
  background-image: url('personnage_ftn.png');
  background-size: 122px;
  height: 200px;
  width: 120px;
  position: absolute;
  bottom: 200px; /* Position initiale au-dessus de la colline */
  animation: marche 4s linear forwards ;
}

.terre {
  background-color: maroon;
  width: 100%;
  height: 12px; /* Hauteur de la terre, ajuste selon tes besoins */
  position: absolute;
  bottom: 200px; /* Position de la terre au-dessus de la colline */
}


@keyframes marche {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(50px) translateY(-30px);
  }
  50% {
    transform: translateX(100px);
  }
  75% {
    transform: translateX(150px) translateY(-30px);
  }
  100% {
    transform: translateX(200px);
  }
}

